# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/package-lock.json

# production
/dist

# test
/coverage

# misc
.DS_Store
/.vscode
.idea
.history
*.log
*bak

# umi
/src/.umi
/src/.umi-production
/src/.umi-test
/.env.local
*.local.ts
