@import "~antd/lib/style/themes/default.less";
body {
  .ant-btn.icon-btn {
    border: none;
    box-shadow: none;
    background: transparent;
  }
  .ant-card-meta-detail > div:not(:last-child) {
    margin-bottom: 0;
  }
  .ant-typography.inverse-text {
    color: @text-color-inverse;
  }
  .ant-card-actions > li {
    margin: 0;
  }
  .ant-input-number.hide-arrows .ant-input-number-handler-wrap {
    display: none;
  }
  .ant-input-number-input-wrap > .ant-input-number-input {
    height: 100%;
  }
  .bg-default {
    background-color: @layout-body-background;
  }
}
