@import "~antd/lib/style/themes/default.less";

.layout {
  min-height: 100%;
}
.header {
  position: fixed;
  box-shadow: #0003 1px 0px 8px;
  z-index: 1;
}
.logoItem {
  display: block !important;
  // vertical-align: top;
}
.navrightItem {
  vertical-align: top;
}
.navrightIcon {
  font-size: 1.5rem !important;
  margin-right: 0 !important;
}
.dropdownPadder {
  padding: 0 20px;
}
.content {
  margin-top: 64px;
}
