@import "~antd/lib/style/themes/default.less";

.layout {
  min-height: 100%;
}
.header {
  position: fixed;
  z-index: 2;
}
.content {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}
